/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}



/******************************************
/* BASE STYLES
/*******************************************/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: teal;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#toDoItems{
  padding: 25px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}


.checked{
  text-decoration: line-through;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
